.acp{
    margin-bottom: 2em;
}


#telaFundo{
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ocultarTela{
    display: none !important;   
}

.exibirTela{
    cursor: pointer;
  }

.telaConsulta{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    text-align: right;
    #divForm{
        background-color: transparent;
        form{
            display: flex;
            flex-direction: column;
            width: 100%;
            .tipoConsulta {
                input[type="radio"]{
                    margin-bottom: 0.5em;
                }
                justify-content: start;
                align-items: center;
                label{
                    font-size: 1.2em;
                }
                label:nth-of-type(1){
                padding-right: 2em;
            }
        }
            .tipoConsulta, .itemsConsulta{
                background-color: transparent;
            }
            select{
                width: 100%;
            }
        }
    }
    h2{
        text-align: center;
        margin-top: 0.5em;
    }
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 70%;
        background: transparent;
        margin:0 auto;
        flex-direction: column;
    }
    #tipoCompra, #buscarEmail{
        flex-direction: row;
        input[type="submit"]{
            color: black;
        }
    }
    #pesquisarCompras{
        width: 100%;
    }
    label{
        margin-bottom:0;
        padding-right: 1em;
    }
}

.menuLateral{
    display: flex;
    flex-direction: column;
    @for $i from 1 through 8 {
        @if $i < 7{
            li:nth-child(#{$i}) {
            order: #{$i};
            }
        }
        @else if $i == 7{
            li:nth-child(#{$i}) {
                order: 8;
            }
        }
        @else if $i == 8{
            li:nth-child(#{$i}) {
                order: 7;
                a{
                    border-bottom: 1px solid #292929;
                }
        }        
      }
    }

}
a:not([href]):not([tabindex]){
    color: #777!important;
}


.notice, .error, #dfiFeaturedMetaBox , #pms_post_content_restriction, #members-cp, #mceu_376{
    display: none;
} 


#pesquisarCompras{
    width: 70vw;
}

iframe{
    width: 100%;
    height: 100%;
} 

#listaCompras{
    height: 30vh;
}

#listaCompras, #buscarEmail{
    width: 100%;
}



#listarCompras{
    width: 100%;
    display: flex;
    #detEventos,#idCompras{
        display: flex;
        flex-direction: column;
        label{
            margin-bottom:1em;
        }
        select{
            height:10em;
            padding: 0.5em;
            option{
                border-bottom: 1px solid black
            }
        }
    }
    #idCompras{
        width: 15%;
    }
    #detEventos{
        width: 50%;
    }

}

#tipoCompra{
    margin-bottom: 1em;
}

#criarEvento{
    margin-top: 1em;
}

#pesquisarEmail{
    width: 50%;
}

